@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  /* Esconde tudo o que não for a área de impressão */
  body * {
    visibility: hidden;
  }
  #print-section, #print-section * {
    visibility: visible;
  }
  #print-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-family: monospace;
    white-space: pre;
    font-size: 12px;
  }
}